@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Esta página usa texto gerado aleatoriamente baseado numa explicação para Lorem Ipsum.</p>

<h4>O que é Lorem Ipsum?</h4>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<h4>Porque é que usamos?</h4>
<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it 
    has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and 
    web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have 
    evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>

<h4>Exemplo de Lorem Ipsum</h4> 
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer feugiat sem leo, posuere molestie nibh mollis ac. Aenean nec vulputate risus. Ut a pellentesque felis. 
    Nulla placerat rutrum lobortis. Donec tincidunt risus at justo ullamcorper scelerisque. Vivamus in ante et massa ultrices commodo a ut massa. Morbi massa nisl, ultrices a elit id, 
    hendrerit consectetur nibh. Aenean a neque et dolor semper sodales nec eu neque. Suspendisse vel eleifend eros.</p>

<p>Sed ut massa ligula. Sed iaculis dignissim velit, nec blandit ligula tincidunt in. Vestibulum volutpat turpis ut egestas elementum. Praesent vitae lacus at arcu pharetra
    laoreet in a nisl. In gravida ligula a mattis eleifend. Proin interdum enim ut imperdiet aliquet. Cras in risus ultrices massa ornare sodales. Ut augue sapien, lobortis 
    quis mauris eu, maximus sollicitudin ante. Suspendisse potenti. Aenean pulvinar vestibulum diam, eu ullamcorper massa hendrerit lacinia.</p>